<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xxxx.mapper.AddProjectMapper">
    <insert id="projectInsert" parameterType="xxxx.entity.Project" useGeneratedKeys="true" keyProperty="projectId">
        insert into project(projectTitle,projectBeginTime,projectEndTime,projectManager,projectSource,projectFunding,projectFlag,projectLevel) values (#{projectTitle},#{projectBeginTime},#{projectEndTime},#{projectManager},#{projectSource},#{projectFunding},-1,#{projectLevel})
    </insert>
    <update id="projectUpdate" parameterType="xxxx.entity.Project">
        UPDATE project
        SET
            projectTitle = #{projectTitle},
            projectBeginTime = #{projectBeginTime},
            projectEndTime = #{projectEndTime},
            projectManager = #{projectManager},
            projectSource = #{projectSource},
            projectFunding = #{projectFunding},
            projectFlag = #{projectFlag},
            projectLevel = #{projectLevel}
        WHERE projectId = #{projectId}
    </update>
</mapper>