<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xxxx.mapper.getUserMapper">
    <!--命名空间-->
    <select id="getUserById" parameterType="int" resultType="xxxx.entity.User">
        select * from user where user.id=#{id}
    </select>

    <select id="getUserList" resultType="xxxx.entity.User">
        select * from user
    </select>

</mapper>