<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xxxx.mapper.NewsMapper">
    <!--获取所有新闻-->
    <select id="getNews" resultType="xxxx.entity.News">
        select * from news
    </select>
    <!-- 新增SQL映射：根据id获取新闻 -->
    <select id="getNewsById" resultType="xxxx.entity.News">
        SELECT * FROM news WHERE newsId = #{newsId}
    </select>
    <insert id="addNews" parameterType="xxxx.entity.News">
        INSERT INTO news (ifPublish, newsTitle, newsWriter, publishTime, newsContent)
        VALUES ( 1, #{newsTitle}, #{newsWriter}, Now(), #{newsContent})
    </insert>
</mapper>