<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xxxx.mapper.PaperGetMapper">
    <!--获取所有新闻-->
    <select id="getPaper" resultType="xxxx.entity.Paper">
        select * from paper
    </select>

    <select id="getPaperByAuthor" parameterType="String" resultType="xxxx.entity.Paper">
        select * from paper where paper.paperAuthor=#{author}
    </select>

    <select id="getPaperByTitleAndAuthor_flagPos" resultType="xxxx.entity.Paper">
        SELECT * FROM paper
        WHERE paper.paperAuthor LIKE CONCAT('%', #{author}, '%')
          AND paper.paperTitle LIKE CONCAT('%', #{title}, '%')
          AND paper.paperFlag > 0
    </select>

    <select id="getPaper_flagNeg1" resultType="xxxx.entity.Paper">
        select * from paper where paper.paperFlag=-1
    </select>
    <insert id="paperInsert" parameterType="String" useGeneratedKeys="true" keyProperty="paperId">
        insert into paper(paperTitle,paperAuthor,paperPublicationVenue,paperPublicationTime,paperAbstract,Keywords,paperFlag,paperLevel) values (#{paperTitle},#{paperAuthor},#{paperPublicationVenue},#{paperPublicationTime},#{paperAbstract},#{keywords},-1,#{paperLevel})
    </insert>
    <update id="paperUpdate" parameterType="xxxx.entity.Paper">
        UPDATE paper
        SET
            paperTitle = #{paperTitle},
            paperAuthor = #{paperAuthor},
            paperPublicationVenue = #{paperPublicationVenue},
            paperPublicationTime = #{paperPublicationTime},
            paperAbstract = #{paperAbstract},
            Keywords = #{keywords},
            paperFlag = -1,
            paperLevel = #{paperLevel}
        WHERE paperTitle = #{paperTitle}
    </update>
</mapper>