<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xxxx.mapper.ProjectDeleteMapper">
    <!-- 删除指定ID的项目 -->
    <delete id="deleteProjectById" parameterType="int">
        DELETE FROM project WHERE projectId = #{projectId}
    </delete>
</mapper>
