<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--首先解析namespace：命名空间，此属性通常用来映射Dao（Mapper）层接口-->
<mapper namespace="xxxx.mapper.UserMapper">
    <!--id：对应Dao（Mapper）层接口方法名 parameterType：执行输入参数类型-->
    <select id="queryUserByName" parameterType="String" resultType="User">
        select * from userinfo where userName = #{userName}
    </select>
    <insert id="registerUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into userinfo(userName,userPwd,userPhone,userEmail,userFlag,userCreateTime,userPostscript) values (#{userName},#{userPwd},#{userPhone},#{userEmail},-1,Now(),#{userPostscript})
    </insert>
</mapper>