/* 页面布局 */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* 使用 Roboto 字体 */
}

.container {
    display: flex;
    min-height: 100vh;
}

.system-name {
    color: white; /* 字体颜色为白色 */
    font-size: 1.2em; /* 字体大小 */
    margin-bottom: 20px; /* 底部间距 */
    text-align: center; /* 居中对齐 */
}

.sidebar {
    width: 200px;
    background-color: rgba(92, 126, 250); /* 更改为更深的蓝色 */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar .logo img {
    height: 116px; /* 调整Logo的高度 */
    width: 200px; /* 调整Logo的宽度 */
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px; /* 增加内边距 */
    transition: background-color 0.3s, padding-left 0.3s; /* 增加过渡效果 */
}

.sidebar a:hover {
    background-color: #0056b3; /* 悬停时颜色变化 */
    padding-left: 25px; /* 悬停时的内边距变化 */
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white; /* 修改为白色背景 */
    color: #333; /* 调整文本颜色为深色 */
    border-bottom: 2px solid #ccc; /* 添加浅色底部边框 */
}

.breadcrumb {
    flex-grow: 1; /* 使当前位置区域占据剩余空间 */
}

.main-area {
    flex-grow: 1;
    padding: 30px;
    background-color: #f8f9fa; /* 更浅的背景色 */
    margin-top: 20px; /* 预留头部栏的空间 */
    border-radius: 5px; /* 增加圆角 */
}

label {
    display: block;
    margin: 10px 0 5px; /* 标签的上下间距 */
}

input[type="text"], input[type="date"], textarea {
    width: 100%; /* 输入框和文本区域宽度100% */
    padding: 10px; /* 内边距 */
    border: 1px solid #ccc; /* 边框颜色 */
    border-radius: 4px; /* 圆角 */
    margin-bottom: 15px; /* 下间距 */
}
.back-home {
    color: #007bff; /* 修改为蓝色 */
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px; /* 添加内边距 */
    border-radius: 5px; /* 圆角 */
    transition: background-color 0.3s; /* 添加过渡效果 */
}

.back-home:hover {
    background-color: rgba(0, 123, 255, 0.1); /* 悬停时背景色变化 */
}

button {
    background-color: #007bff; /* 按钮颜色 */
    color: white;
    border: none;
    padding: 10px 15px; /* 按钮内边距 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停效果 */
    transition: background-color
}
.logout {
    margin-left: 20px; /* 增加与用户名和身份的间距 */
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px; /* 添加内边距 */
    border-radius: 5px; /* 圆角 */
    background-color: #dc3545; /* 红色背景 */
    transition: background-color 0.3s; /* 添加过渡效果 */
}

.logout:hover {
    background-color: #c82333; /* 悬停时颜色变化 */
    color: white; /* 悬停时文字颜色 */
}
